p {
    margin: 0px;
}

body {
    /* This Style is Inherited */
    font-family: Roboto, Arial;
    padding-bottom: 200px;
    padding-top: 72px;
    padding-left: 80px;
    padding-right: 20px;
    background-color: rgb(244, 244, 244)
}

a {
    text-decoration: none;
}