.sidebar {
    position: fixed;
    top: 55px;
    bottom: 0px;
    left: 0px;
    width: 70px;
    background-color: white;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link {
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar-link:hover {
    background-color: rgb(237, 237, 237);
    cursor: pointer;
}

.sidebar-link img {
    width: 24px;
    margin-bottom: 5px;
}

.sidebar-link div {
    font-size: 10px;
}